In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
#help(pd.Series)

In [8]:
myindex = ['USA','Canada','Mexico']

In [9]:
mydata = [1776,1876,1821]

In [18]:
myser = pd.Series(mydata,myindex)

In [19]:
myser

USA       1776
Canada    1876
Mexico    1821
dtype: int64

In [20]:
myser[0]

1776

In [21]:
myser['USA']

1776

In [22]:
ages =  {'Sam':5,'Frank':10,'Spike':7}

In [24]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [25]:
q1 = {'Japan':80,'China':450,'India':200,'USA':250}
q2 = {'Brazil':100,'China':500,'India':210,'USA':260}

In [26]:
sales_q1 = pd.Series(q1)

In [27]:
sales_q2 = pd.Series(q2)

In [28]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [29]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [34]:
sales_q1['Japan']

80

In [37]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [39]:
sales_q1 /100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [40]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [42]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64