In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
#help(pd.Series)

In [8]:
myindex = ['USA','Canada','Mexico']

In [9]:
mydata = [1776,1876,1821]

In [18]:
myser = pd.Series(mydata,myindex)

In [19]:
myser

USA       1776
Canada    1876
Mexico    1821
dtype: int64

In [20]:
myser[0]

1776

In [21]:
myser['USA']

1776

In [22]:
ages =  {'Sam':5,'Frank':10,'Spike':7}

In [24]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [25]:
q1 = {'Japan':80,'China':450,'India':200,'USA':250}
q2 = {'Brazil':100,'China':500,'India':210,'USA':260}

In [26]:
sales_q1 = pd.Series(q1)

In [27]:
sales_q2 = pd.Series(q2)

In [28]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [29]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [30]:
sales_q1['Japan']

80